/* General */
#page {
	width: 900px;
	margin: auto;
}

#header {
	background: transparent url("logo.png") no-repeat scroll left top;
	height: 120px;
	padding: 30px 0px 0px 110px;
	box-sizing: border-box;
	margin: 0px 30px 10px;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
}

#title, h1, h2, h3 {
	color: #06216C;
}

#title {
	font-size: 32px;
	width: 450px;
}

/* Headers */
h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

#login {
	width: 270px;
	text-align: center;
}

/* Text */
a {
	text-decoration: none;
	cursor: pointer;
}

.error {
	color: maroon;
}

.success {
	color: green;
}

/*Forms*/
form table td:nth-child(1) {
	text-align: right;
	width: 200px;
}

input[type="text"], input[type="password"], input[type="email"] {
	height: 20px;
	width: 230px;
}

select {
	height: 26px;
	min-width: 237px;
}

form table td {
	padding: 1px 5px;
}

table {
	width: 100%;
}

th {
	text-align: center;
}

table#chairs tr td {
	text-align: left !important;
}