/* General */
body {
	background: url("../pattern.png") repeat-x #F5F8FA fixed;
}

#page {
	width: 1000px;
	margin: auto;
}

#header {
	background: transparent url("../logo.png") no-repeat scroll left top;
	height: 120px;
	padding: 30px 0px 0px 110px;
	box-sizing: border-box;
	margin: 0px 30px 10px;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
}

#title, h1, h2, h3 {
	color: #06216C;
}

#title {
	font-size: 32px;
	width: 450px;
}

/* Headers */
h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}
h3 {
    font-size: 16px;
}
div#login {
	width: 270px;
	text-align: center;
	margin-left: 100px;
}

/* Text */
a {
	text-decoration: none;
	cursor: pointer;
}

.error {
	color: maroon;
}

.success {
	color: green;
}

/*Forms*/
form table td:nth-child(1) {
	text-align: right;
	width: 180px;
}
fieldset {
    border: none;
}
fieldset:disabled {
    color: gray !important;
}
input {
    height: 26px;
    width: 230px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
	width: auto;
	height: auto;
}

input[type="date"] {
	width: 130px;
}

select {
	height: 26px;
	min-width: 237px;
}

button {
    min-height: 28px;
    background: rgba(187, 117, 42, 0.3);
    border: 1px solid gray;
    margin: 2px;
}
button:active {
    border: black 1px solid;
}

form table td {
	padding: 1px 5px;
}

table {
	width: 100%;
}

th {
	text-align: center;
}

.button {
	margin: 6px;
	vertical-align: bottom;
	opacity: 0.5;
	transition-duration: 0.5s;
	cursor: pointer;
}

.button:hover {
	opacity: 1;
}

table h3 {
	margin: 10px 0;
}

/*Chairs*/
table#chairs tr td {
	text-align: left !important;
}

.default, .toggleVisiable {
	display: none;
}

/*Curriculums*/
table#curriculum {
	width: 1100px;
	position: relative;
	margin-left: -50px;
}

table.borderTable, .borderTable td, .borderTable th {
	border-spacing: 0;
	border: 1px solid #808080;
	border-collapse: collapse;
}

.borderTable td {
	text-align: center;
}

#curriculum td:nth-child(1), #curriculum td:nth-child(2) {
	text-align: left;
}

table.borderTable thead {
	background: rgba(209, 195, 93, 0.3);
}

tr.blockHead1 {
	background: rgba(141, 209, 93, 0.3);
}

tr.blockHead2 {
	background: rgba(240, 162, 162, 0.3);
}

tr.blockHead3 {
	background: rgba(156, 231, 231, 0.3);
}

tr.blockHead4 {
	background: rgba(194, 162, 240, 0.3);
}

/*Semester*/
#semester th:not (:first-child ) {
	width: 145px;
}

#semester td:not (:first-child ) {
	text-align: center;
}

form#semester select {
	width: 600px;
}

/* Schedule */


table#schedule {
	width: 850px;
}

form table#schedule td:nth-child(1) {
	text-align: center;
	width: 80px;
}

#schedule th:first-child small {
	transform: rotate(-100grad);
	display: block;
	margin: 0px -37px 0 -40px;
}

#schedule tr.empty {
	font-size: 8px;
	height: 0px;
}
#schedule>tbody>tr:last-child {
    border-bottom: 1px solid black;
}

#scheduleOverflow {
	height: 600px;
	overflow-y: auto;
	display: block;
}

div.glt {
    border: 1px gray solid;
    padding: 3px;
    display: inline-block;
    cursor: move;
}

table.schi {
    border: 1px gray solid;
	cursor: move;
	margin: 2px 5px;
	display: inline-table;
	vertical-align: middle;
}
.schi.conflict {
	border-color: maroon;
}

.schi td {
	border: none;
}

div.glt.lab, table.schi.lab, .lab .lecturer, .lab .classroom {
    background: rgba(240, 162, 162, 0.3);
}

div.glt.lab4, table.schi.lab4, .lab4 .lecturer, .lab4 .classroom {
    background: rgba(141, 209, 93, 0.3);
}

div.glt.pract, table.schi.pract, .pract .lecturer, .pract .classroom {
    background: rgba(194, 162, 240, 0.3);
}

div.glt.lec, table.schi.lec, .lec .lecturer, .lec .classroom {
	background: rgba(156, 231, 231, 0.3);
}

.schi .inner {
	padding: 6px 0;
}

.schi td.mover {
	width: 7px !important;
    padding: 0px;
}
td.rightMover {
	border-right: 2px dotted gray;
}

td.leftMover {
	border-left: 2px dotted gray;
}
.schi .schiButtons {
    float: right;
    margin-top: -5px;
    margin-bottom: -45px;
    display: none;
    height: 0px;
}
.schi:hover .schiButtons {
    display: block;
}
    
.schi .weekplan, .details, .vacancy[colspan='1'] .weekplan {
    display: block;
}

#scheduleForm .schi .numDen {
	display: none;
}

.schi .button {
    filter: grayscale(50%);
    -webkit-filter: grayscale(1);
    margin: 0;
}
.scheduleItem {
    padding: 0;
}
.schi[colspan='2'] {
	font-size: 14px;
}
.schi[colspan='1'] {
    font-size: 12px;
} 
.schi[colspan='1'] .divider{
    display: none !important;
}
.schi[colspan='2'], .vacancy[colspan='2'] {
    width: 345px
}
.schi[colspan='1'], .vacancy[colspan='1'] {
    width: 167px;
}
.schi[colspan='4'], .vacancy[colspan='4'] {
    width: 701px;
}

.scheduleItem .vacancy {
    display: inline-block;
    border: 1px gray dotted;
    margin: 5px;
    background: rgba(255,255,255,0.3);
    color: gray;
    padding: 6px;
    font-size: smaller;
    box-sizing: border-box;
}
#vacancyTemplate.vacancy {
    display: none;
}